:root
{
    background-color:  rgb(250, 194, 202);
    
    
  
}
@font-face
{
    font-family: coolfont;
    src: url("fonts/Atop.ttf")
}
h1, h2
{
    font-family: coolfont;
    font-weight: 200;

}
@font-face
{
    font-family: monday;
    src: url("fonts/mondayfeeling.ttf")
}

p, li
{
    font-family:monday ;
}
p img
{
    width: 200px;
}
#hover:hover
{
    width: 300px;
}
section
{
    margin-left: 55px;
    margin-right: 55px;
    border: 2px;
}
#hover
{
    float: right;
}
#sad
{
    width: 50px;
}
strong
{
    text-decoration-color: blue;
    text-size-adjust: 59px;
}
h1
{
    color: red;
    font-size: 56pt;
    text-align: center;
}
td
{
   border-bottom: black;
}
td img
{
    width: 25px; ;
}
th
{
    font-family: coolfont;
    font-weight: 200;
    color: rgb(129, 12, 12)
}
nav ul li
{
    border: 1px ;
    text-align: center;
    
    list-style-type: none;
}
#Grace img
{
    width: 200px;
    float: left;
    margin-right: 4%;
    border: black;
}
h3
{
    font-family: coolfont;
    color: red;
    font-weight: 200;
}
#list li
{
    margin-left: 50px;
    font-weight: 200; 
    list-style-type: lower-roman
    
}