:root
{
    background-image: url("images/hearts.jpg");
    
    background-repeat: repeat ;
    background-color: pink;
}
@font-face
{
    font-family: coolfont;
    src: url("fonts/Atop.ttf")
}
h1, h2
{
    font-family: coolfont;
}
@font-face
{
    font-family: monday;
    src: url("fonts/mondayfeeling.ttf")
}

p
{
    font-family:monday ;
}
p img
{
    width: 200px;
}
#hover:hover
{
    width: 300px;
}
section
{
    margin-left: 55px;
    margin-right: 55px;
    border: 2px;
}
#hover
{
    float: right;
}
#sad
{
    width: 50px;
}
strong
{
    text-decoration-color: blue;
    text-size-adjust: 59px;
}
h1
{
    color: red;
    font-size: 56pt;
    text-align: center;
}
th, td
{
   border: px black
}
td img
{
    width: 25px; ;
}