:root
{
    --pukeyellow: RGB(204,200,0);
    --bloodcream: RGB(199,75,76);
    --royal: RGB(178,102,255);
    color: var(--pukeyellow);
    background-color:var(--pukeyellow);
    text-align: center;
}
@font-face
{
    font-family: taco;
    src: url("fonts/taco.ttf")
}
@font-face {
    font-family: 'Courier New', Courier, monospace;
    
}

h1
{
    font-family: taco;
    font-size: 48pt;
    text-decoration: underline seagreen;
    color: RGB(178,102,255)
    

}

h2, table
{
    font-family: 'Courier New', Courier, monospace

}
th
{
    font-size: xx-large;
    color: blue;
}
img
{
    margin: auto;
    display: block;
}

table
{
    margin: auto;
}
p
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt ;
    color:RGB(178,102,255)
    
    ;
    

}
body
{
    background: url("sad.png"), url("happy.jpg");
    background-position: right bottom, left top;

}
.header
{
    font-family: taco;
}
a
{
    font-size: xx-large;
    font-style: italic;
}

