@font-face {
    font-family: munday;
    src: url(Themundayfreeversion-Regular.ttf);
}

@font-face{
    font-family: cryp;
    src: url(Creative\ Typography.ttf)
}
h1
{
    font-size: 80px;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
}


h1, h2
{
    font-family: munday;
}
ul 
{
    list-style-type: square;
}
body
{
    background-color: antiquewhite ;
}
p, li,td,th
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
table, th, td
{
    border:2px solid ;
}
img
{
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  
}
#charlie
{
    float: left;
}
#bruce
{
    float: right;
}
section 
{
    border-top: 4px dotted blue;
    border-bottom: 4px dotted red;
}
body
{
    background-image: url("lines.png"); 
    background-image: opacity: 0.5;
   
}
#trim
{
    font-size: larger;
}