:root
{
    color: rgb(220, 220, 231);
  background-color: rgb(6, 18, 48);
  text-align: center;
}
h1
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27pt;
}
iframe
{
    border-radius: 25px;
    width: 66vw;
}
p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
