:root
{
    color: rgb(220, 220, 231);
  background-color: rgb(23, 28, 39);
  text-align: center;
  width: 95vw;
}
h1
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23pt;
    
}
iframe
{
    border-radius: 25px;
    width: 66vw;
}
p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#left
{
    position: relative;
    right: 150px;
}
button
{    
background-color: #08041f; 
  border: 15px;
  color: rgb(206, 185, 185);
  padding: 15px 32px;
  text-align: center;
  text-decoration: rgb(220, 220, 231);
  display: inline-block;
  font-size: 16px;

}
ol
{
    float: left;
}
img
{
    width: 35vw;
    
    
    Border-radius: 20px ;
}
th
{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}
#champ
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30pt;
    border: 1dvh white solid;
}
table
{
    border-bottom: 2px white solid;
}
p
{
    padding: 25px 55px;
    font-family: 'Courier New', Courier, monospace;
}
button 
{
    border-radius: 20px;
}