:root
{
    color: rgb(220, 220, 231);
  background-color: rgb(23, 28, 39);
  text-align: center;
  width: 95vw;
  border:  10px white solid;
  border-radius: 15px;
  
}
h1
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23pt;
    
}
iframe
{
    border-radius: 25px;
    width: 66vw;
}

#left
{
    
    float: left;
    width: 300px;
    
}
button
{    
background-color: #e2e0ee; 
  border: 15px;
  
  padding: 15px 32px;
  text-align: center;
  
  
  font-size: 16px;

}
ol
{
    float: left;
}
img
{
    width: 35vw;
    
    
    Border-radius: 20px ;
}
th
{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}
#champ
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30pt;
    border: 1dvh white solid;
}
table
{
    border-bottom: 2px white solid;
}
p
{
    padding: 25px 55px;
    font-family: Arial, Helvetica, sans-serif;
}
button 
{
    border-radius: 20px;
}
a
{
    color: rgb(5, 5, 48);
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
