:root
{
    color: rgb(220, 220, 231);
  background-color: rgb(6, 18, 48);
  text-align: center;
}
@font-face 
{
    font-family: final_header ;
    src: url(HadleyPavlinaDemoRegular.ttf);
}
h1
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.play
{
    font-size: 12vw;
}
img
{
    width: 22vw;
    
    Border-radius: 10px 10px 10px 10px;
}
th
{
    border-bottom: 2pt crimson solid ;
    border-right: 2pt crimson solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vw;
}
#logo
{
    float: left;
}
#two
{
    float: inline-end;
}
h2
{
    font-family: final_header;
}
td
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vw;
    color: firebrick;
    font-weight:bolder;
}
